@import 'utilities.css';

body{
    background-color: #ffffff;
    font-family: 'Poppins',sans-serif;
}
header{
    background-color: rgb(0, 0, 0);
    height: 570px;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 90%,0 100%);
}
header nav .left a{
    color: #09f3c0;
    text-decoration: none;
    margin-left: 4rem;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: azure;
}
header nav {
    padding: 1rem 0;
}
header nav .myname{
    margin: 3rem;
}
.hero .info{
color: antiquewhite;
font-size: 2rem;
}